/* removed all margin and padding from html */
* {
    margin: 0;
    padding: 0;
}

/* changed background color of body and text color for contact page */
body#contact {
    /* background-color: #a5d7b2; */
    background-color: #133848;
    color: white;
}

/* changed background color of body on home page */
body#home {
    background-color: #010808;
}

div.homeContainer {
    position: relative;
}

/* styled div with class of homeContent */
div.homeContent {
    position: absolute;
    top: 100px;
    left: 30px;
    color: white;
    font-size: 40px;
    font-family: 'Moon Dance', cursive;
    letter-spacing: 1px;
}

/* styled video tag */
video {
    width: 100%;
    height: auto;
}

/* styled id contactPage */
#contactPage {
    margin-top: 30px;
    padding: 30px 40px 30px 15px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: beige;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

/* changed style on hover for id contactPage */
#contactPage:hover {
    background-color: black;
    color: beige;
    cursor: pointer;
}

/* changed width and height for div with id contactWrapper */
div#contactWrapper {
    width: 99.5%;
    height: 660px;
    /* border: 2px solid red; */
}

/* style navigation with class main */
nav.main {
    /* border: 1px solid white; */
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
}

/* hides hamburger and cross icons */
div#hamburger, div#cross {
    display: none;
}

/* creates fixed navigation bar */
#contactWrapper > div.navigation {
    background-color: black;
    position: fixed;
    width: 100%;
    /* border: 1px solid blue; */
}

/* removes bullet points from unordered list */
nav.main ul {
    list-style: none;
}

/* styles list items on navigation bar */
nav.main ul li {
    display: inline;
    padding-right: 1px;
    font-family: 'Cormorant SC', serif;
    font-size: 14px;
    letter-spacing: 1px;
}

/* styles navigation bar on hover */
nav.main ul li a span:hover {
    /* color: #9cc0f9; */
    color: #FFFBFF;
    font-weight: bold;
    background-color: #468189;
    padding: 2px;
    border: 1px solid #FFFBFF;
    border-radius: 30px;
}

/* styled all anchor  */
nav.main ul li a {
    text-decoration: none;
    color: white;
}

/* made navigation bar the top element using z-index so that it takes priority when scrolling over elements */
div.navigation {
    /* border: 1px solid red; */
    width: 100%;
    background-color: black;
    z-index: 1;
}

/* styled div with class form */
div.form {
    width: 49.5%;
    /* border: 1px solid green; */
    position: absolute;
    top: 60px;
    height: 600px;
    z-index: 0;
}

/* used to position form */
/* form {
    border: 1px solid black;
} */

/* styled div with googleMap class */
div.googleMap {
    /* border: 1px solid yellow; */
    width: 50%;
    position: absolute;
    top: 60px;
    left: 49.5%;
    height: 100%;
    z-index: 0;
}

/* adding some left padding to form */
#contactWrapper > div.form > form {
    padding-left: 30px;
}

/* removed border from input[type=text] elements */
#contactWrapper > div.form > form > input[type=text] {
    border: none;
}

/* styled placeholder for first input */
#contactWrapper > div.form > form > input[type=text]:nth-child(1)::placeholder {
    padding-left: 15px;
}

/* styled placeholder for second input */
#contactWrapper > div.form > form > input[type=text]:nth-child(2)::placeholder {
    padding-left: 15px;
}

/* styled placeholder for third input */
#contactWrapper > div.form > form > input[type=text]:nth-child(3)::placeholder {
    padding-left: 15px;
}

/* styled first input on form */
#contactWrapper > div.form > form > input[type=text]:nth-child(1) {
    width: 40%;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
}

/* styled second input on form */
#contactWrapper > div.form > form > input[type=text]:nth-child(2) {
    width: 40%;
    height: 40px;
    margin-bottom: 15px;
} 

/* styled third input on form */
#contactWrapper > div.form > form > input[type=text]:nth-child(3) {
    display: block;
    /* width: 81.5%; */
    width: calc(40% * 2 + 14px);
    height: 40px;
    margin-bottom: 15px;
}

/* styled submit button on form */
#contactWrapper > div.form > form > input[type=submit] {
    /* width: 85%; */
    width: calc(40% * 2 + 14px);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 60px;
}

/* styled submit button on hover */
#contactWrapper > div.form > form > input[type=submit]:hover {
    background-color: #468189;
    color: beige;
    cursor: pointer;
}

/* styled text area element */
textarea {
    /* width: 16.125em; */
    width: calc(40% * 2 + 14px);
    height: 10em;
    font-size: 25px;
    margin-bottom: 10px;
}

/* styled placeholder for text area */
textarea::placeholder {
    padding-left: 15px;
}

/* styled iframe */
iframe {
    width: 100%;
    height: 100%;
}

/* styled h2 elements with contact class */
h2.contact {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Moon Dance', cursive;
}

/* styled p elements with contact class */
p.contact {
    padding: 10px 30px 15px 30px;
    text-align: justify;
    font-size: 18px;
    font-family: 'Moon Dance', cursive;
}

/* styled footer with contact class */
footer.contact {
    width: 400px;
    margin-left: 40%;
    padding-bottom: 10px;
    font-size: 18px;
    position: absolute;
    bottom: -100px;
}

/* styled footer with about class */
footer.about {
    width: 400px;
    margin: 0 auto;
    margin-top: 300px;
}

/* styled div with id about-section */
div#about-section {
    width: 100%;
}

/* styled img inside of div with id about-section */
div#about-section img {
    width: 500px;
    border: 5px dashed black;
    /* border-end-end-radius: 60px; */
    float: right;
    margin-right: 150px;
    margin-top: 40px;
    border-radius: 50%;
}

/* styled id with skills */
#skills {
    float: right;
    clear: right;
    margin-top: 30px;
    margin-right: 140px;
}

/* styled div with id about-section-paragraph */
div#about-section-paragraph {
    clear: left;
    width: 50%;
    margin-left: 60px;
    padding: 30px;
    font-size: 25px;
    /* border: 1px solid white; */
}

/* styled p inside of div with id about-section-paragraph */
div#about-section-paragraph p{
    padding-bottom: 30px;
    text-indent: 50px;
}

/* styled h1 with id about */
h1#about {
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: 50px;
    color: white;
    /* border: 1px solid white; */
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

/* styled  2nd child p inside of id contactWrapper and inside of div */
#contactWrapper > div:nth-child(2) > p {
    font-size: 25px;
    padding-bottom: 30px;
    letter-spacing: 2px;    
}

/* styled 2nd li inside of id contactWrapper and inside of div */
#contactWrapper > div:nth-child(2) > ul > li {
    border: 1px solid white;
    display: inline;
    text-align: center;
    border-radius: 90px;
    padding: 20px;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h2.contact {
        font-size: 40px;
        margin-top: 60px;
    }

    p.contact {
        text-align: center;
        font-size: 25px;
        padding-right: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    footer.contact {
        margin-left: 25%;
    }

    footer.about {
        margin-left: 25%;
        position: absolute;
        bottom: -420px;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(1) {
        height: 60px;
        font-size: 20px;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(2) {
        height: 60px;
        font-size: 20px;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(3) {
        height: 60px;
        font-size: 20px;
    }
    
    div.homeContent {
        top: 450px;
    }

    #skills {
        margin-right: 150px;
        margin-bottom: 30px;
    }

    div#about-section-paragraph {
        width: 80%;
        margin-left: 38px;
        padding-top: 20px;
    }

}

/* Iphone 12 */
@media screen and (max-width: 375px) {
    div.googleMap {
        /* border: 1px solid yellow; */
        width: 50%;
        position: absolute;
        top: 60px;
        left: 49.5%;
        height: 100%;
        z-index: -1;
    }

    div.homeContent {
        top: 256px;
        left: 24px;
        font-size: 18px;
    }

    div.homeContainer {
        position: absolute;
        top: 100px;
    }

    p.home {
        margin-top: 19px;
    }

    br {
        line-height: 30px;
    }

    div.homeContent > h1 {
        line-height: 45px;
    }

    footer.contact {
        width: 100px;
        margin-left: 22.5%;
        padding-bottom: 10px;
        font-size: 18px;
        position: absolute;
        bottom: -520px;
    }

    /* footer.about {
        width: 
    } */

    footer > span {
        padding-left: 30px;
    }

    div.googleMap {
        /* border: 1px solid yellow; */
        width: 82%;
        top: 850px;
        left: 8%;
        height: 50%;
    }

    div.form {
        width: 100%;
    }

    h2.contact {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    p.contact {
        margin-bottom: 30px;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(1) {
        width: 90%;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(2) {
        width: 90%;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(3) {
        width: calc(40% * 2 + 35px);
    }

    textarea {
        width: calc(40% * 2 + 35px);
    }

    #contactWrapper > div.form > form > input[type=submit] {
        width: calc(40% * 2 + 35px);
    }
    
    ul#pageLinks > li {
        display: block;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    ul#pageLinks {
        position: absolute;
        background-color: black;
        right: 0;
        padding: 10px 20px 15px 0;
        /* display: none; */
        border: 1px solid black;
        border-bottom-left-radius: 30px;
        z-index: 100;
    }

    ul#pageLinks > li > a {
        color: white;
        padding-left: 18px;
    }

    div#hamburger {
        display: block;
    }

    div#hamburger > img {
        width: 45px;
    }

    div#cross > img {
        width: 45px;
    }

    /* div#cross {
        line-height: 4px;
    } */

    nav.main {
        /* border: 1px solid white; */
        width: 60px;
        float: right;
        padding: 10px;
        background-color: black;
    }

    h1#about {
        width: 100%;
    }

    div#about-section img {
        width: 300px;
        border: 5px dashed black;
        border-radius: 50%;
        margin: 0;
        margin-right: 30px;
    }

    #skills {
        float: none;
        margin: 0;
        margin-top: 280px;
        padding-left: 20px;
    }

    div#about-section-paragraph {
        clear: left;
        width: 80%;
        margin-left: 0;
        padding: 30px;
        font-size: 20px;
    }

    div#about-section-paragraph p {
        line-height: 40px;
    }

    footer.about {
        /* border: 1px solid white; */
        width: 320px;
        position: absolute;
        bottom: -1300px;
        margin-left: 7%;
    }
}
