* {
    margin: 0;
    padding: 0;
}

body#contact {
    background-color: #a5d7b2;
}

body#home {
    background-color: #010808;
}

div.homeContainer {
    position: relative;
}

div.homeContent {
    position: absolute;
    top: 100px;
    left: 30px;
    color: white;
    font-size: 40px;
}

video {
    width: 100%;
    height: auto;
}

#contactPage {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    border: 5px solid beige;
    color: beige;
    font-weight: bold;
    letter-spacing: 3px;
}

#contactPage:hover {
    background-color: beige;
    border: 5px solid black;
    color: black;
    cursor: pointer;
}

div#contactWrapper {
    width: 99.5%;
    height: 660px;
    /* border: 2px solid red; */
}

nav.main {
    /* border: 1px solid white; */
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
}

#contactWrapper > div.navigation {
    background-color: black;
    position: fixed;
    width: 100%;
    /* border: 1px solid blue; */
}

nav.main ul {
    list-style: none;
}

nav.main ul li {
    display: inline;
    padding-right: 10px;
}

nav.main ul li a {
    text-decoration: none;
    color: white;
}

div.navigation {
    /* border: 1px solid red; */
    width: 100%;
    background-color: black;
    z-index: 1;
}

div.form {
    width: 49.5%;
    /* border: 1px solid green; */
    position: absolute;
    top: 60px;
    height: 600px;
    z-index: 0;
}

/* form {
    border: 1px solid black;
} */

div.googleMap {
    /* border: 1px solid yellow; */
    width: 50%;
    position: absolute;
    top: 60px;
    left: 49.5%;
    height: 100%;
    z-index: -1;
}

#contactWrapper > div.form > form {
    padding-left: 30px;
}

#contactWrapper > div.form > form > input[type=text] {
    border: none;
}

#contactWrapper > div.form > form > input[type=text]:nth-child(1)::placeholder {
    padding-left: 15px;
}

#contactWrapper > div.form > form > input[type=text]:nth-child(2)::placeholder {
    padding-left: 15px;
}

#contactWrapper > div.form > form > input[type=text]:nth-child(3)::placeholder {
    padding-left: 15px;
}

#contactWrapper > div.form > form > input[type=text]:nth-child(1) {
    width: 40%;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#contactWrapper > div.form > form > input[type=text]:nth-child(2) {
    width: 40%;
    height: 40px;
    margin-bottom: 15px;
} 

#contactWrapper > div.form > form > input[type=text]:nth-child(3) {
    display: block;
    /* width: 81.5%; */
    width: calc(40% * 2 + 14px);
    height: 40px;
    margin-bottom: 15px;
}

#contactWrapper > div.form > form > input[type=submit] {
    /* width: 85%; */
    width: calc(40% * 2 + 14px);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

#contactWrapper > div.form > form > input[type=submit]:hover {
    background-color: blue;
    color: beige;
    cursor: pointer;
}

textarea {
    /* width: 16.125em; */
    width: calc(40% * 2 + 14px);
    height: 10em;
    font-size: 25px;
    margin-bottom: 10px;
}

textarea::placeholder {
    padding-left: 15px;
}

iframe {
    width: 100%;
    height: 100%;
}

h2.contact {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

p.contact {
    padding: 10px 30px 15px 30px;
    text-align: justify;
    font-size: 18px;
}

footer {
    width: 400px;
    margin-left: 40%;
    padding-bottom: 10px;
    font-size: 18px;
    position: absolute;
    bottom: -100px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h2.contact {
        font-size: 40px;
        margin-top: 60px;
    }

    p.contact {
        text-align: center;
        font-size: 25px;
        padding-right: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    footer {
        margin-left: 25%;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(1) {
        height: 60px;
        font-size: 20px;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(2) {
        height: 60px;
        font-size: 20px;
    }

    #contactWrapper > div.form > form > input[type=text]:nth-child(3) {
        height: 60px;
        font-size: 20px;
    }
    
    div.homeContent {
        top: 450px;
    }

}


/* Iphone 12 */
/* @media screen and (max-width: 414px) {

} */
